.file-link {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: var(--vscode-textLink-foreground);
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    display: inline;
}

.file-link:hover {
    color: var(--vscode-textLink-activeForeground);
    text-decoration: underline;
}

.file-link:active {
    color: var(--vscode-textLink-activeForeground);
}

.file-link:focus {
    outline: 1px solid var(--vscode-focusBorder);
    outline-offset: 2px;
}